/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
#menu_bar {
	float:left;
	display: inline-block;

}

ul {
	list-style-type: none;
}

#blog_table {
	float:center;
	clear:both;
	max-width: 940px;
	margin: 0 auto;
	padding: 5%;
	background: #BDBDBD;
	border-radius: 5%;
	font: 'Open Sans', sans-serif;
	width:80%;
	border-bottom: 2px solid #FF8000;


}

#blog_header {
	font-size: 1.3em;
	text-align: center;



}

#field {
	border: 10%;
}

#blog_preview {
	font-size: 1.3em;
	text-align:center;

}